<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" th:object="${searchForm}">
        <h2>Search by:</h2>

<!--         <ul class="form-group">
            <li th:each="field : *{fields}">
                <input type="radio" th:field="*{searchField}" th:value="${field}" th:checked="${field == searchField}"/>
                <label th:for="${#ids.prev('searchField')}" th:text="${field.name}"></label>
            </li>
        </ul> -->
        <label th:for="field" class="Job-Listing">Category</label>
        <select class="Job-Listing">
        	<option th:each="field :*{fields}"
        			th:value="${field}"
        			th:text="${field.name}"></option>
		</select>

        <div class="Job-Listing">
            <label th:for="keyword">Keyword</label>
            <input class="Job-Listing" th:field="*{keyword}" />
        </div>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <div th:replace="list-jobs :: jobs-list"></div>

</div>

</body>
</html>